 <h1>Steel Me !!</h1>
    <div id="wrapper">
        <div id="sidebar-wrapper">

            <img src="#" alt="TradeMe/Stealme Logo" class="logo">

            <ul class="sidebar-nav">
                
                <p id="msg"></p>

                <ul>
                    <li>Listing Id: {{auctionlist.ListingId}}</li>
                    <li>Title: {{auctionlist.Title}}</li>
                    <li>Category: {{auctionlist.Category}}</li>
                    <li>StartPrice: {{auctionlist.StartPrice}}</li>
                    <li>BuyNowPrice: {{auctionlist.BuyNowPrice}}</li>
                    <li>Region: {{auctionlist.Region}}</li>
                </ul>




            </ul>

        </div>

        <!--<div class="map">-->
            <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">&#9776</a>-->

            <!--<div id="map-canvas"></div>-->
        <!--</div>-->
    </div>
